STREAM_URL=0
MODEL=models/yolo11n.pt
DEVICE=cpu
IMGSZ=320
CONF=0.35
IOU=0.5
CAMERA_WIDTH=480
CAMERA_HEIGHT=320
CAMERA_FPS=30
CAMERA_FOURCC=MJPG
FRAME_SKIP=2
MAX_FRAMES=30
LINE_X_RATIO=0.5
STOP_SPEED_PX_PER_SEC=12
STOP_DURATION_SEC=3.0
OUTPUT=data/people_flow.csv
BADGE_OUTPUT=data/badge_counts.csv
PREVIEW_HOST=0.0.0.0
PREVIEW_PORT=8080
PREVIEW_JPEG_QUALITY=80
PREVIEW_SHUTDOWN_ENABLED=false
PREVIEW_SHUTDOWN_COMMAND=""
WAIT_FOR_NETWORK_SEC=0
